# ==========================================
# OS
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Maven
# ==========================================
target/

# ==========================================
# Logs
# ==========================================
logs/
*.log

# ==========================================
# Environment
# ==========================================
.env
.env.*

!.env.example

# ==========================================
# Temporary files
# ==========================================
*.tmp
*.swp
*.swo

# ==========================================
# Java
# ==========================================
hs_err_pid*
replay_pid*

# ==========================================
# Coverage
# ==========================================
coverage/
jacoco.exec